.widgets {
  border-radius: 5px;

  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
}

.widgets .widget {
  width: 33.33%;
  padding: 5px 15px;
}

.widgets .widget_2col {
  width: 50%;
  padding: 10px 30px;
}

.widgets .widget_3col {
  width: 33.33%;
  padding: 10px 30px;
}

.widgets .textarea {
  width: 100%;
  padding: 5px 15px;
  margin-right: 200px;
}

.widgets .checkbox {
  width: 100%;
  padding: 10px 30px;
}

.widgets .checkbox label {
  display: inline-block;
}

.widgets .checkbox input[type="checkbox"] {
  padding: 12px 20px;
  margin: 8px 0px;
  margin-left: 5px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.widgets .dropzone {
  float: left;
  width: 100%;
  margin: 40px;
}

.widgets .button {
  float: left;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 30px;
}

label {
  margin-bottom: 0px;
  margin-left: 5px;
  display: block;
  font-size: 18px;
  box-sizing: border-box;
}

legend {
  font-size: 18px;
}

select {
  margin: 8px 0px;
  margin-left: 5px;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  width: 85%;
  height: 40px;
}

input[type="text"] {
  padding: 12px 20px;
  margin: 8px 0px;
  margin-left: 5px;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  width: 85%;
  height: 40px;
}

label#field {
  display: inline-block;
  width: 50px;
}

input[type="text"]#field {
  padding: 12px 20px;
  margin: 8px 0px;
  margin-left: 5px;
  height: 30px;
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0px;
  display: inline-block;
  width: 67%;
}

select:hover {
  box-shadow: 0px 0px 7px #ccc;
}

input[type="text"].error {
  border: 1px solid red;
}

.input-feedback {
  color: red;
  margin-top: -5px;
  font-size: 14px;
  margin-bottom: 20px;
  margin-left: 6px;
}

input:hover {
  box-shadow: 0px 0px 7px #ccc;
}

input[type="number"] {
  padding: 12px 20px;
  margin: 8px 0px;
  margin-left: 5px;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  width: 85%;
  height: 40px;
}

input[type="date"]::-webkit-inner-spin-button {
  display: none;
}

[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

input[type="date"] {
  background: #fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png) 97% 50% no-repeat;

  background-color: #fff;
  padding: 3px 3px;

  margin-left: 5px;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  width: 85%;
  height: 40px;
}

input[type="checkbox"] {
  padding: 12px 20px;
  margin: 8px 0px;
  margin-left: 5px;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea:hover {
  box-shadow: 0px 0px 7px #ccc;
}

textarea {
  padding: 12px 30px;
  margin: 8px 0px;
  margin-left: 5px;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  width: 85%;
  height: 40px;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

#Submit {
  padding: 10px;
  width: 100px;

  margin-bottom: 20px;
  background-color: #4caf50;
  font-size: 16px;
  border-radius: 24px;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
}

#page-redirect {
  padding: 10px;
  width: 150px;
  margin-bottom: 20px;
  background-color: #4caf50;
  font-size: 16px;
  border-radius: 24px;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
}

#Cancel {
  padding: 10px;
  margin: 18px 18px;
  background-color: gray;
  margin-left: 450px;
  border-radius: 24px;
  border: none;
  width: 20%;
  font-size: 16px;
  color: white;
  font-weight: bold;
}